<button class="close buttoncolor" mat-button (click)="onNoClick()">X</button>
<div class="container custommodal">
    <mat-toolbar class="toolbarcolor" style="padding-left: 45%;">
        ADD NEW CHECKLIST
    </mat-toolbar>
    
    
    <div class="innercontainer">
        <form class="text-center border border-light p-5">
            
            
            <div class="row" style="text-align: left;">
                <div class="col-xl-6">
                    <mat-label class="labelclass" >NEW CHECKLIST </mat-label>
                </div>
                <div class="col-xl-6">
                    <div class="input-group input-group-sm mb-4">
                        
                        <input type="text" placeholder="Enter checklist" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div>
            </div>
            
            
            
            <!-- <div style="margin-bottom: 1%;">
                <mat-label class="labelclass" style="margin-right: 140px;">RESPIRATORY SYSTEM : </mat-label>
                <input matInput type="text" placeholder="Enter text">
                
            </div>
            <div style="margin-bottom: 1%;">
                <mat-label class="labelclass" style="margin-right: 170px;">NERVOUS SYSTEM : </mat-label>
                <input matInput type="text" placeholder="Enter text">
                
            </div>
            <div style="margin-bottom: 1%;">
                <mat-label class="labelclass" style="margin-right: 263px;">LIVER : </mat-label>
                <input matInput type="text" placeholder="Enter text">
                
            </div>
            <div style="margin-bottom: 1%;">
                <mat-label class="labelclass" style="margin-right: 198px;">COAGULATION : </mat-label>
                <input matInput type="text" placeholder="Enter text">
                
            </div>
            <div style="margin-bottom: 1%;">
                <mat-label class="labelclass" style="margin-right: 240px;">KIDNEYS : </mat-label>
                <input matInput type="text" placeholder="Enter text">
                
            </div> -->
            
            <div style="text-align: center;">
                <button mat-button class="btn btn-outline-primary mb-2">Save</button>
            </div>
      
        </form>
    </div>
    
      
</div>

