<button class="close buttoncolor" mat-button (click)="onNoClick()">X</button>
<div class="container custommodal">
    <mat-toolbar class="toolbarcolor" style="padding-left: 45%;">
        CheckList
    </mat-toolbar>
    
    
    <div class="innercontainer">
        <form class="text-center border border-light p-5">
            
            
            <div class="row moveup">
                <div class="col-xl-2">
                    
                </div>
                <div class="col-xl-8">
                    <div class="n-chk">
                        <label class="new-control new-checkbox checkbox-primary">
                          <input type="checkbox" class="new-control-input">
                          <span class="new-control-indicator"></span>UNSTABLE HEMODYNAMICS <br/>
                          <input type="checkbox" class="new-control-input">
                          <span class="new-control-indicator"></span>ONGOING RESUSCITATION<br/>
                          <input type="checkbox" class="new-control-input">
                          <span class="new-control-indicator"></span>INTESTINAL ISCHEMIA<br/>
                          <input type="checkbox" class="new-control-input">
                          <span class="new-control-indicator"></span>RISK FOR REFEEDING <br/>
                          <input type="checkbox" class="new-control-input">
                          <span class="new-control-indicator"></span>SURGICAL CONCERNS<br/>
                          <input type="checkbox" class="new-control-input">
                          <span class="new-control-indicator"></span>NONE
                        </label>
                    </div>
                </div>
                <div class="col-xl-2">
                    
                </div>
            </div>
            
            
            
            <!-- <div style="margin-bottom: 1%;">
                <mat-label class="labelclass" style="margin-right: 140px;">RESPIRATORY SYSTEM : </mat-label>
                <input matInput type="text" placeholder="Enter text">
                
            </div>
            <div style="margin-bottom: 1%;">
                <mat-label class="labelclass" style="margin-right: 170px;">NERVOUS SYSTEM : </mat-label>
                <input matInput type="text" placeholder="Enter text">
                
            </div>
            <div style="margin-bottom: 1%;">
                <mat-label class="labelclass" style="margin-right: 263px;">LIVER : </mat-label>
                <input matInput type="text" placeholder="Enter text">
                
            </div>
            <div style="margin-bottom: 1%;">
                <mat-label class="labelclass" style="margin-right: 198px;">COAGULATION : </mat-label>
                <input matInput type="text" placeholder="Enter text">
                
            </div>
            <div style="margin-bottom: 1%;">
                <mat-label class="labelclass" style="margin-right: 240px;">KIDNEYS : </mat-label>
                <input matInput type="text" placeholder="Enter text">
                
            </div> -->
            
            <div style="text-align: center;">
                <button mat-button class="btn btn-outline-primary mb-2">Save</button>
            </div>
      
        </form>
    </div>
    
      
</div>

