/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.my-dialog .mat-dialog-container{
    padding: 2px;
    
    
  }

  .my-dialog{
    z-index: 9000001 !important;
    padding-top: 20px;
  }

  :root {
    --content-appache: 22;
  }


